{% extends "base.html" %}

{% block content %}
    <div class="container">
        <table class="table">
            <p>
                Настоящее пользовательское соглашение, далее "Соглашение", заключается между Интернет-магазином Bike
                Shop, имеющим адрес в сети Интернет www.bikeshop.ru, далее "Интернет-магазин" или "Сайт", и
                пользователем услуг Интернет-магазина, далее "Покупатель", и определяет условия приобретения товаров
                через Сайт.
            </p>
            <p>
                1.Основные положения
            </p>
            <p>
                1.1. Настоящее Соглашение заключается между Покупателем и Интернет-магазинов момент оформления заказа.
                Покупатель подтверждает свое согласие с условиями, установленными настоящим Соглашением, путем
                проставления отметки в графе "Я согласен с правилами магазина" при оформлении заказа.
            </p>
            <p>
                1.2. Настоящие Соглашение, а также информация о товаре, представленная на Сайте, являются публичной
                офертой в соответствии со ст.435 и ч.2 ст.437 ГК РФ.
            </p>
            <p>
                1.3. К отношениям между Покупателем и Интернет-магазином применяются положения ГК РФ о продажи товаров
                дистанционным способом (ст.497 Федерального закона РФ от 25.10.2007 N 234-ФЗ ), а также Закон РФ «О
                защите прав потребителей» от 07.02.1992 № 2300-1 и иные правовые акты, принятые в соответствии с ними.
            </p>
            <p>
                1.4. Покупателем может быть любое физическое или юридическое лицо, способное принять и оплатить
                заказанный им товар в порядке и на условиях, установленныx настоящим Соглашением, на территории
                Российской Федерации.
            </p>
            <p>
                1.5. Интернет-магазин оставляет за собой право вносить изменения в настоящее Соглашение.
            </p>
            <p>
                1.6. Настоящее Соглашение должно рассматриваться в том виде, как оно опубликовано на Сайте, и должно
                применяться и толковаться в соответствии с законодательством Российской Федерации.
            </p>
            <p>
                2. Информация о товаре
            </p>
            <p>
                2.1. Товар представлен на Сайте через фото-образцы, являющиеся собственностью Интернет-магазина.
            </p>
            <p>
                2.2. Каждый фото-образец сопровождается текстовой информацией: артикулом, ценой и описанием товара.
            </p>
            <p>
                2.3. По просьбе Покупателя менеджер Интернет-магазина обязан предоставить (по телефону или посредством
                электронной почты) прочую информацию, необходимую и достаточную, с точки зрения Покупателя, для принятия
                им решения о покупке товара.
            </p>
            <p>
                2.4. Указанная на Сайте цена товара может быть изменена Интернет-магазином в одностороннем порядке.
            </p>
            <p>
                2.5. В случае изменения цены товара, заказанного Покупателем, менеджер Интернет-магазина при первой
                возможности информирует об этом Покупателя (по телефону или посредством электронной почты) для получения
                подтверждения либо аннулирования заказа. При невозможности связаться с Покупателем данный заказ
                считается аннулированным.
            </p>
            <p>

                3. Порядок приобретения товара
            </p>
            <p>
                3.1. Покупатель вправе оформить заказ на любой товар, представленный на Сайте. Каждый товар может быть
                заказан в любом количестве при условии, что заказано будет не более 2-х единиц одной категории. Заказ
                может быть оформлен Покупателем следующим способом: самостоятельно на Сайте.
            </p>
            <p>
                3.2. После оформления заказа на e-mail Покупателя отправляется письмо, подтверждающее принятие заказа, с
                указанием наименований выбранных товаров и общей суммы заказа, являющийся неотъемлемой частью настоящего
                Соглашения. Далее менеджер Интернет-магазина связывается с Покупателем (по телефону или посредством
                электронной почты) для получения подтверждения заказа.
            </p>
            <p>
                3.3. При отсутствии товара на складе менеджер Интернет-магазина обязан поставить в известность об этом
                Покупателя (по телефону или посредством электронной почты).
            </p>
            <p>
                3.4. При отсутствии товара Покупатель вправе заменить его другим товаром либо аннулировать заказ.
            </p>
            <p>
                3.6. Покупатель вправе отказаться от заказанного товара в любое время до его отправки Покупателю,
                заблаговременно (но не позднее чем за 12 часов до времени доставки) поставив в известность об этом
                Интернет-магазин (по телефону или посредством электронной почты).
            </p>
            <p>
                3.7. Покупатель вправе отказаться от заказанного товара и вернуть его курьеру в момент его получения,
                если ему не подошел размер, цвет или по любым другим причинам.
            </p>

            <button type="button" class="btn btn-danger" onClick='location.href="/user"'>Я ознакомился</button>
        </table>
    </div>
{% endblock %}
