{% extends "base.html" %}

{% block title %}Bike shop{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="md-2">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Фамилия</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Иванов">
                        </div>
                        <div class="form-group col-md-7">
                            <label for="inputPassword4">Имя</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="Иван">
                        </div>
                        <div class="form-group col-md-7">
                            <label for="inputPassword4">Отчество</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="Иванович">
                        </div>
                        <div class="form-group col-md-7">
                            <label for="inputPassword4">Паспортные данные</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="1234 567890">
                        </div>
                        <div class="form-group col-md-7">
                            <label for="inputPassword4">Телефонный номер</label>
                            <input type="password" class="form-control" id="inputPassword4"
                                   placeholder="+7-999-999-99-99">
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Адрес</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="ул.Иванова 1/6">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">Город</label>
                            <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Примечание</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Я принимаю <a href="category"> пользовательское соглашение</a>
                            </label>
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger" onClick='location.href="/"'>Заказать</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
